.signUp-page-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.signUp-container img {
  width: 190px;
  margin-left: 54px;
  margin-bottom: 23px;
}

.signUp-container p {
  font-size: 27px;
  margin-bottom: 15px;
}

.signUp-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.signUp-container .inputEmail input {
  width: 100%;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 56px;
}

.signUp-container .inputEmail input::placeholder {
  font-size: 16px;
  color: var(--color-signIn);
}

.signUp-container .inputUsername input {
  width: 100%;
  height: 56px;
}

.signUp-container .inputUsername input::placeholder {
  font-size: 16px;
  color: var(--color-signIn);
}

.signUp-container .inputPassword input {
  width: 100%;
  height: 56px;
}

.signUp-container .confirmPass input::placeholder {
  font-size: 16px;
  color: var(--color-signIn);
}

.signUp-container .confirmPass input {
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 56px;
}

.signUp-container .inputPassword input::placeholder {
  font-size: 16px;
  color: var(--color-signIn);
}

.signUp-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signUp {
  font-size: 14px;
  margin-bottom: 18.5px;
  margin-top: 13.5px;
}

.signUp a {
  color: #007bff;
  text-decoration: none;
  text-decoration: underline;
}

/*! Sign in button */
.btn-signUp {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn-signUp:hover {
  background-color: #0056b3;
}

/*! Copyright */
.copyright {
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
  opacity: 75%;
}

.ant-notification-notice-error {
  background: #ffe5e8 !important;
  color: #000000 !important;
}

.ant-notification-notice-success {
  background: #e5fff0 !important;
  color: #000000 !important;
}
